:root {
  --font: 'Roboto', sans-serif;
  --color-gray: #d8d8d8;
  --color-dark-gray: #707070;
  --color-black: #000;
  --color-accent: #a18a68;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
